.galeria {
  padding: 0 !important;
  position: relative;
  background: $light-main-color;
  // background: white !important;

  @media (min-width: $tablet) {
    padding: 60px 0 0;
    padding-bottom: 90px;
  }
}

.galeria__container {
  display: grid;

  @media (max-width: $tablet) {
    padding: 0 !important;
    margin: 0 !important;
  }

  @media (min-width: $tablet) {
    padding-top: 45px !important;
  }
}

.galeria__list {
  display: grid;
  grid-template-rows: 300px auto;
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: $bg-color;
  overflow: hidden;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    border-radius: $r;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 1fr) 520px;
  }
}

.galeria__item {
  width: 100%;
  height: 100%;
  max-height: 600px;
  transition: all 0.3s;
  background-color: $bg-color;
  position: relative;
  cursor: pointer;

  @media (max-width: $desktop) {
    min-height: 300px;
  }

  @media (min-width: $desktop) {
    max-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $main-color
      url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.55055 12.4468 8.05071 12.9999 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z' fill='white'/%3e%3c/svg%3e ")
      no-repeat center center;
    opacity: 0;
    transition: 0.3s;
  }
}

.galeria__item:last-child {
  @media (min-width: $tablet) and (max-width: 1199px) {
    grid-row: -1 / -2;
    grid-column: 1 / -1;
  }
}

// .galeria__item:last-child {
//   &::before {
//     opacity: 1;
//     background-color: rgba($main-color, 0.7);
//   }

//   @media (min-width: $tablet) {
//     &::before {
//       opacity: 0;
//     }
//   }
// }

// .galeria__item:last-child:hover,
// .galeria__item:last-child:active {
//   @media (min-width: $tablet) {
//     &::before {
//       opacity: 1 !important;
//     }
//   }
// }

// .galeria__item:hover,
// .galeria__item:active {
//   &::before {
//     opacity: 1;
//     background-color: rgba($main-color, 0.7);
//   }
// }

.galeria__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.galeria__item--fb {
  @media (min-width: $tablet) {
    border: none;
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    grid-row: 1 / -1;
    grid-column: 4 / 3;
  }
}

// @keyframes animation {
//   0% {
//     bottom: 16px;
//     opacity: 0.2;
//   }

//   100% {
//     bottom: 66px;
//     opacity: 0;
//   }
// }

// @media (min-width: 921px) {
//   .animation__style {
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   .animation__active {
//     opacity: 1;
//     transition: all 0.6s;
//     transform: translateY(0%);
//   }
// }
