.logo {
  min-width: 200px;
  min-height: 200px;
  height: 100%;
  background: url("../img/logo_plane.webp");
  margin: auto;
  background-size: cover;
  padding: 33px 10px;
}

.logo__img {
  min-width: 410px;
  min-height: 157px;
}
