.partners {
  background: $bg-color;
  box-shadow: 0 -10px 10px #0505060d;
  overflow: hidden;
}

.partners__list {
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.partners__item {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  transform: scale(1);
}

.partners__img-filters {
  filter: grayscale(1) opacity(0.3);
  transition: all 0.2s;
}

.partners__img-filters:hover,
.partners__img-filters:active {
  filter: grayscale(0) opacity(1);
}
