/*! CSS Used from: Embedded */
.eTUPUe {
  color: rgb(112, 108, 100);
  font-family: aktiv-grotesk, sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  text-align: center;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
}
.ehdAgL {
  color: rgb(36, 30, 18);
  font-family: Walsheim, sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  text-align: center;
  font-weight: 700 !important;
  font-size: 1.625rem !important;
  line-height: 1.25 !important;
}
@media (min-width: 61rem) {
  .ehdAgL {
    font-size: 2.125rem !important;
  }
}
@media (min-width: 61rem) {
  .ehdAgL {
    line-height: 1.25 !important;
  }
}
.hyyWQO {
  color: rgb(112, 108, 100);
  font-family: aktiv-grotesk, sans-serif;
  letter-spacing: 0.1em;
  margin: 0px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  text-align: center;
  font-weight: 700 !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
}
.ciPXhQ {
  color: rgb(112, 108, 100);
  font-family: aktiv-grotesk, sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
.jyQOVJ {
  color: rgb(36, 30, 18);
  font-family: aktiv-grotesk, sans-serif;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  text-align: center;
  font-weight: 700 !important;
  margin: 1em 0px !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
.gRJmcT {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}
.gvszuv {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0.5rem 0rem;
  margin: 0rem;
}
.jPPgkv {
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}
.bKLDZG {
  box-sizing: border-box;
  display: block;
  height: 100%;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem 0rem 1rem;
  margin: 0rem;
}
.buuDCF {
  box-sizing: border-box;
  height: 100%;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 1.5rem;
  margin: 0rem;
}
.ljcnfw {
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}
.hDAVJA {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem 0rem 0.5rem;
}
@media (min-width: 61rem) {
  .hDAVJA {
    margin-bottom: 1.5rem;
  }
}
.fynwtb {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem 0rem 0.5rem;
}
@media (min-width: 61rem) {
  .fynwtb {
    margin-bottom: 1rem;
  }
}
.fiprrE {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  text-align: center;
  padding: 0rem;
  margin: 0rem;
}
.bJwA-DL {
  align-items: flex-start;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}
.liYYYk {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}
.geDfBX {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  padding: 0rem;
  margin: 0.5rem 0rem 0rem;
}
.kdnfRo {
  align-items: flex-start;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}
.brmcXO {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem 1rem 0rem 0rem;
  min-width: 1rem;
  min-height: 1.25rem;
}
.dqGHyP {
  display: flex;
}
.dqGHyP,
.dqGHyP svg {
  height: 0.5rem;
  width: 0.5rem;
}
.dqGHyP svg {
  align-self: center;
  fill: transparent;
  stroke-width: 1.2px;
}
.dqGHyP svg * {
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  vector-effect: non-scaling-stroke;
}
.dqGHyP svg [data-fill] {
  fill: rgb(36, 30, 18);
}
.jMglDB {
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  filter: none;
  cursor: unset;
  vertical-align: middle;
  height: unset;
  width: unset;
}
.pxdhQ {
  margin-left: auto;
  margin-right: auto;
  animation: 1.116s linear 0s infinite normal none running cJiLXh;
  display: block;
  padding: 1.5px;
  height: 1.5rem;
  width: 1.5rem;
}
.pxdhQ.pxdhQ.pxdhQ {
  overflow: visible;
}
.vkgwH {
  fill: none;
  stroke: transparent;
  stroke-width: 8;
}
.fFBlZh {
  animation: 1.8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite normal none running fnezX;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 180;
  transform-origin: center center;
  stroke-width: 8;
}
.cEwkgS {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  visibility: visible;
}
.jLYHuC {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2000;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: none;
}
.iapItm {
  -webkit-box-align: center;
  align-items: center;
  backface-visibility: hidden;
  background-color: rgb(66, 133, 244);
  border-radius: 9999px;
  border: 1px solid rgb(66, 133, 244);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  height: unset;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.78125rem 1.5rem;
  position: relative;
  pointer-events: unset;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  user-select: none;
  white-space: unset;
  width: unset;
  color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
}
.iapItm:hover {
  background-color: rgb(54, 125, 243);
}
.iapItm:active {
  background-color: rgb(43, 118, 243);
}
.iapItm:focus {
  outline: none;
}
.reactWrapper ul {
  margin: 0px;
}
.reactWrapper a {
  text-decoration: none;
  cursor: pointer;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0px;
}
svg:not(:root) {
  overflow: hidden;
}
.bpmWuw {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 0rem 0.5rem;
  max-width: 100%;
}
@media (min-width: 43rem) {
  .bpmWuw {
    margin-left: 16.6667%;
  }
}
@media (min-width: 61rem) {
  .bpmWuw {
    margin-left: 0%;
  }
}
@media (min-width: 43rem) {
  .bpmWuw {
    max-width: 66.6667%;
  }
}
@media (min-width: 61rem) {
  .bpmWuw {
    max-width: 33.3333%;
  }
}
@media (min-width: 77rem) {
  .bpmWuw {
    max-width: 33.3333%;
  }
}
@media (min-width: 43rem) {
  .bpmWuw {
    flex-basis: 66.6667%;
  }
}
@media (min-width: 61rem) {
  .bpmWuw {
    flex-basis: 33.3333%;
  }
}
@media (min-width: 77rem) {
  .bpmWuw {
    flex-basis: 33.3333%;
  }
}
.cGmDUM {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 227, 221);
  border-radius: 4px;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 100%;
}
.nkAiR {
  list-style-type: none;
  padding: 0px;
}
.imblRn {
  padding: 0.85rem 4rem;
}
