.posts__list {
  display: grid;
  gap: 30px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.posts__item-content {
  display: grid;
  gap: 10px;
  padding: 10px;
  background: url("../img/dark background.webp");
  color: white;

  p,
  h3 {
    margin: 0;
  }
}
