.single-product {
  margin: 0 0 calc(60px) !important;
}

form.cart,
.product_meta,
.comment-form-cookies-consent {
  display: none !important;
}

// zoom photo icon
.woocommerce-product-gallery__trigger {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
// zoom photo icon

// switch: description / characterictic / comments
.wc-tabs {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  overflow: scroll;
  box-shadow: none !important;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  & {
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important;
    -ms-overflow-style: none !important;
  }

  li {
    border: 2.5px solid #000;
    margin: 0 !important;
    border-radius: 20px !important;
    font-size: 14px;
    font-weight: 600;

    a {
      display: flex !important;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      height: 36px;
      padding: 0.5em 1em !important;
      text-transform: lowercase;
      box-shadow: none !important;
    }
  }

  li.active {
    border-color: #082cd9;

    a {
      color: $main-color !important;
    }
  }
}
// switch: description / characterictic / comments

.woocommerce-tabs .woocommerce-Tabs-panel {
  margin: 0 !important;
  max-width: 100% !important;
}

.product-info {
  display: grid;
  position: relative;

  &::after {
    content: "You can buy product at our barbershop. Check the address!";
    display: block;
    width: 100%;
    height: fit-content;
    padding: 1em;
    background: $main-color;
    color: white;
    border-radius: $r;
    margin-top: 31px;
  }

  .woocommerce-product-details__short-description {
    order: 2;
  }
}

.comment-respond .comment-form-author,
.comment-respond .comment-form-email,
.comment-respond .comment-form-url {
  width: 100% !important;
  margin-left: 0 !important;
}

.product-container {
  display: grid;

  @media (min-width: $tablet) {
    display: grid !important;
    grid-template-columns: 40% 60%;
    gap: 2em;
  }

  .woocommerce-product-gallery {
    display: grid !important;
    gap: 1em;

    ol {
      display: flex;
      flex-wrap: nowrap;
      gap: 1em;
      width: 100%;
      max-width: 100%;
      overflow: scroll;
      order: 2;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      & {
        scrollbar-width: none !important;
        overflow: -moz-scrollbars-none !important;
        -ms-overflow-style: none !important;
      }

      li {
        height: 50px;
        width: 50px;
        background-position: center;
        border-radius: $r;
        overflow: hidden;
      }

      img {
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
      }
    }
  }

  .product-images {
    margin-right: 0;
    max-width: 100%;
  }

  .flex-viewport {
    border-radius: $r;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      background-position: center;
      object-fit: cover;
    }
  }
}
