.works__ajax {
  display: grid;
  border-radius: $r;
  overflow: hidden;
  gap: 1em;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// @keyframes video-button {
//   0% {
//     box-shadow: 0px 0px 0px 0px $main-color;
//   }

//   100% {
//     box-shadow: 0px 0px 15px 10px $main-color;
//     opacity: 0;
//   }
// }
