table {
  tr {
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  th,
  td {
    text-align: start;
    border-bottom: 1px solid #eee;

    h4 {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
    }
  }

  th {
    font-size: 16px;
  }

  td {
    text-transform: lowercase;
    font-size: 14px;
  }
}
