.footer-header {
  background: white;

  padding: 0 $p1;
  padding-top: 3em !important;
  padding-bottom: 1em !important;
  max-width: 1280px;
  margin: 0 auto !important;
  overflow: hidden;

  @media (min-width: $mobile2) {
    padding: 0 $p2;
  }

  @media (min-width: $tablet) {
    padding: 0 $p3;
  }

  @media (min-width: 900px) {
    grid-area: footer-header;
    width: 100%;
    padding-bottom: 0 !important;
  }

  @media (min-width: 1280px) {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-header__wrapper {
    background: white;
    color: $black !important;
    padding: 1em;
    overflow: hidden;
    border-radius: $r;

    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    min-height: 100px;
    align-items: center;
    align-content: center;
    row-gap: 1em;

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr) !important;
    }
  }

  .footer-header__text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @media (min-width: 900px) {
      margin: 0;
    }

    @media (min-width: $desktop) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      padding-left: 1em;
      row-gap: 0;
    }

    p {
      @media (min-width: 900px) {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  .footer-header__social {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    display: grid;
    width: fit-content;
    margin-left: auto;

    @media (min-width: $tablet) {
      width: 100%;
      column-gap: 10px;
    }

    @media (min-width: $desktop) {
      grid-column: 4 / -1;
      padding-left: 1.5em;
      margin-left: 0;
    }

    .social-links {
      margin: 0;
      padding: 0;
    }

    .social-button {
      border-radius: $r;
      border: 3px solid #4064ac;
      width: 30px;
      height: 30px;
    }

    .social-button:hover,
    .social-button:active {
      background: rgba(white, 0.9);
    }

    .social-button--facebook:before {
      background-size: 20px;
    }
  }
}

// footer

body {
  .site-footer {
    padding-top: 0 !important;
    position: relative;
    z-index: 99;
    padding-bottom: 3em;

    @media (min-width: 900px) {
      grid-area: site-footer;
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(105px + 4em);
      left: 0;
      right: 0;
      height: 0.5px;
      width: 100vw;
      background: rgba(white, 0.1);

      @media (min-width: 900px) {
        display: none;
      }
    }
  }

  .site-footer-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media (min-width: 900px) {
      height: 100%;
    }

    .site-footer-inner__box {
      position: relative;

      @media (min-width: 900px) {
        height: 100%;
        display: grid;
        grid-template-columns: minmax(50vw, 1fr);
        grid-template-areas:
          "footer-header-widgets"
          "footer-copywrite";
      }

      @media (min-width: 1280px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "footer-header-widgets"
          "footer-copywrite";
      }
    }
  }

  .contact-form {
    .btn-primary {
      background: $bg-color;
      color: $text-color;
      border-radius: $br;
    }

    .contact-form__field textarea,
    .contact-form__field input {
      border-radius: $br;
    }

    .field-contact-subject {
      display: none !important;
    }
  }
  // contact-form

  .footer-info,
  .footer-widgets {
    padding: 0 $p1;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;

    @media (min-width: $mobile2) {
      padding: 0 $p2;
    }

    @media (min-width: $tablet) {
      padding: 0 $p3;
    }
  }

  .footer-widgets {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: scroll;

    @media (min-width: 900px) {
      gap: 1em;
      padding: 0 0 0 calc(1em + 1vw);
      width: 100%;
      min-width: 100%;
      grid-area: footer-header-widgets;
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-areas:
        "w-1 w-2"
        "w-3 w-4";
    }

    @media (min-width: 1280px) {
      padding: 0;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    & {
      scrollbar-width: none !important;
      overflow: -moz-scrollbars-none !important;
      -ms-overflow-style: none !important;
    }
  }

  .footer-widget {
    margin: 0 !important;
    padding: 1em;
    min-width: 80%;
    max-width: 80%;
    background: white;
    color: $black !important;
    border-radius: $r;
    overflow: hidden;
    position: relative;

    @media (min-width: $tablet) {
      padding: 1em !important;
    }

    @media (min-width: 900px) {
      min-width: 100%;
      max-width: 100%;
    }

    p {
      padding: 0;
      margin: 0;
      height: 100%;
      vertical-align: middle;
    }

    .widget_text,
    .widget {
      margin: 0;
      padding: 0;
    }

    * {
      color: $black !important;
    }
  }

  .footer-widget:first-child {
    grid-area: w-1;
    position: relative;
    background: transparent !important;
    padding: 0 !important;

    @media (min-width: $tablet) {
      padding-right: 1em;
      border-right: 0.5px solid rgba(white, 0.1);
    }

    @media (min-width: 900px) {
      border-right: none;
    }

    @media (min-width: $desktop) {
      padding-left: 0 !important;
    }
  }

  .footer__contacts-widget {
    display: grid;
    gap: 1em;
    background: $main-color;

    div {
      padding: 1em;
      background: white;
      border-radius: $r;
    }
  }

  .footer-widget:nth-child(2) {
    grid-area: w-2;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -0.5em;
      height: 0.5px;
      width: 100vw;
      background: rgba(white, 0.1);
    }

    @media (min-width: $mobile2) {
      &::after {
        left: -1em;
      }
    }

    @media (min-width: $tablet) {
      &::after {
        padding-top: 3em;
        display: none;
      }
    }
  }

  .footer-widget:nth-child(2),
  .footer-widget:nth-child(3) {
    position: relative;

    @media (min-width: $desktop) {
      &::before {
        content: "";
        position: absolute;
        top: calc((100% - 70%) / 2);
        right: 0;
        height: calc(70%);
        width: 0.5px;
        background: rgba(white, 0.1);
      }
    }
  }

  .footer-widget:nth-child(3) {
    grid-area: w-3;
    @media (min-width: $tablet) {
      padding-right: 1em;
      border-top: 0.5px solid rgba(white, 0.1);
      border-right: 0.5px solid rgba(white, 0.1);
    }

    @media (min-width: $desktop) {
      border-top: none;
      border-right: none;
    }
  }

  .footer-widget:nth-child(4) {
    grid-area: w-4;
    border-right: none !important;
    margin-left: 1px;

    @media (min-width: $tablet) {
      border-top: 0.5px solid rgba(white, 0.1);
    }

    @media (min-width: $desktop) {
      padding-bottom: 3em;
      border-top: none;
    }
  }

  .social-buttons {
    justify-content: flex-end;
  }

  .wpb_text_column {
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.footer-info {
  font-size: 12px;

  @media (min-width: 900px) {
    padding-right: 0 !important;
  }

  @media (min-width: 1280px) {
    padding: 0 !important;
  }
}

body {
  .site-footer-container {
    background: $main-color;

    @media (min-width: 900px) {
      display: grid;
      gap: 1em;
      grid-template-columns: minmax(50vw, 1fr) minmax(415px, 500px);
      grid-template-areas:
        "footer-header footer-header"
        "site-footer fb-feed";
      padding-bottom: calc(50px + 1em);
    }

    @media (min-width: 992px) {
      grid-area: footer;
      padding-bottom: 50px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: 1fr 715.8px 500px 1fr;
      grid-template-areas:
        ". footer-header footer-header ."
        ". site-footer fb-feed .";
    }
  }

  // footer-bottom

  .footer-bottom {
    position: relative;
    padding-top: 3em;
    display: none;

    @media (min-width: 900px) {
      padding-top: 2em;
      grid-area: footer-copywrite;
      display: block;
    }

    @media (min-width: $desktop) {
      display: block;
    }
  }

  .footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5px;
    width: 100vw;
    background: rgba(white, 0.1);

    @media (min-width: 900px) {
      display: none;
    }
  }
}

// footer

//-----------------------------------
