.main-nav {
  background: url("../img/header_bg.webp");
}

.main-nav__container {
  display: grid;
  gap: 30px;

  @media (min-width: 800px) {
    grid-template-columns: max-content 1fr;
  }
}

.main-nav__bar {
  display: grid;
  justify-content: center;

  @media (min-width: 800px) {
    grid-template-columns: 1fr max-content;
    justify-content: start;
  }
}

.main-nav__bar-content {
  display: grid;
  justify-content: end;
}

.main-nav__bar-text {
  max-width: max-content;
  margin-left: auto;
  text-align: center;

  @media (min-width: 800px) {
    text-align: start;
  }
}

.header__top {
  background-color: black;
  color: white;
}
