.page {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

html {
  .page__body {
    // width: 100vw !important;
    min-height: 100vh !important;
    font-family: $font;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 1.2 !important;
    display: grid;
    grid-template-rows: min-content 1fr;
    // grid-template-areas:
    //   "header"
    //   "main"
    //   "footer";
    margin: 0 !important;
    padding: 0 !important;
    // overflow-x: hidden;
    // overflow-y: scroll;
    color: $black;
    background: white;
  }
}

// .page__main {
//   grid-area: main;
// }

// .page__footer {
//   grid-area: footer;
// }
