<section class="about  contact-fb">
  <!-- facebook -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v12.0"
    nonce="fVYpTeYu"></script>
  <!-- facebook -->

  <div class="container">



    <div class="contact-fb__wrapper  animation">

      <div class="contact-fb__right">
        <div class="contact-fb__cover">
          <p>Написать сообщение...</p>
        </div>
        <h3 class="contact-fb__title"><strong class="contact-fb__step" style="font-size: 25px;">2</strong>Напишите что
          вас интересует
        </h3>
        <div class="contact-fb__messanger  contact-fb__messanger--1">
          <!-- facebook -->
          <div class="fb-page" data-href="https://www.facebook.com/Website-development-100258068756908"
            data-tabs="messages" data-width="500" data-height="" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Website-development-100258068756908"
              class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Website-development-100258068756908">Website development</a>
            </blockquote>
          </div>
          <!-- facebook -->
        </div>
        <div class="contact-fb__messanger  contact-fb__messanger--2">
          <!-- facebook -->
          <div class="fb-page" data-href="https://www.facebook.com/Barbershop-test-111490454748625" data-tabs="messages"
            data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true"
            data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Barbershop-test-111490454748625" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/Barbershop-test-111490454748625">Barbershop test</a></blockquote>
          </div>
          <!-- facebook -->
        </div>
      </div>

      <div class="contact-fb__content">
        <h3 class="contact-fb__title"><strong class="contact-fb__step" style="font-size: 25px;">1</strong>
          выбирите интересующий вас
          пункт</h3>
        <form action="post">
          <fieldset>
            <input class="contact-fb__radio  contact-fb__radio--1" id="contact-fb__radio--1" type="radio"
              name="contact-fb__radio" value="ul. Kraszewskiego" checked>
            <label for="contact-fb__radio--1">ul. Kraszewskiego</label>
          </fieldset>
          <fieldset>
            <input class="contact-fb__radio  contact-fb__radio--2" id="contact-fb__radio--2" type="radio"
              name="contact-fb__radio" value="ul. Zawodska">
            <label for="contact-fb__radio--2">ul. Zawodska</label>
          </fieldset>
        </form>
      </div>
      <!-- about__content -->

    </div>
    <!-- about__wrapper -->

  </div>


  </div>
  <!-- container -->
</section>
<!-- about -->
