<div class="footer__contacts-widget" id="contacts">
  <div>
    <strong>ul. Ofiar Oświęcimskich 17, Wrocław</strong><br>
    <a target="_blank" href="tel:+48575271668">+48575271668</a><br>
    <a class="footer__message-btn" target="_blank" href="#">Написать сообщение</a><br>
  </div>
  <div>
    <strong>ul. Krashewskiego 23, Wrocław</strong><br>
    <a target="_blank" href="tel:+48575271668">+380631691431</a><br>
    <a class="footer__message-btn" target="_blank" href="#">Написать сообщение</a><br>
  </div>
</div>
