<section class="faq" id="section-faq">
  <div class="container">

    <div class="section-header">
      <div class="section-header__titles">
        <h2 class="section-header__title  small-title">FAQ</h2>
        <p class="section-header__subtitle">You can find answer on usual questions.</p>
      </div>
    </div>


    <div class="faq__accordion  accordion  accordion-flush  animation" id="accordionPanelsStayOpenExample">

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
            Можно ли взять лицензию на один домен, а потом докупить неограниченную?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-heading1">
          <div class="accordion-body">
            Да, Вы можете взять сейчас лицензию на один домен, а потом обновить до неограниченной самостоятельно через
            Личный кабинет в автоматическом режиме.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
            Как учитываются поддомены? Как один домен или каждый отдельно?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-heading2">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
            plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as
            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our
            default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
            Как расширить лицензию?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-heading3">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as
            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our
            default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
            Можно ли перенести лицензию на другой домен?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-heading4">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as
            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our
            default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
            Можно ли продать сайт с Вашей темой или плагином?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-heading5">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as
            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our
            default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
            Как перенести лицензию на другой аккаунт?
          </button>
        </h2>
        <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-heading6">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as
            well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our
            default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <!-- accordion-item -->

    </div>

    <div class="section-header__nav  section-header__nav--mobile">
      <button class="section-header__nav-btn" type="button">
        <!-- <img src="./img/google-logo.webp" alt=""> -->
        Больше вопросов 🌏
      </button>
      <button class="section-header__nav-btn  section-header__nav-btn--2" type="button">
        <!-- <img src="./img/facebook-logo.webp" alt=""> -->
        Задать вопрос 👀
      </button>
    </div>
    <!-- section-header__nav -->


  </div>
</section>
<!-- faq -->
