<div class="fb-feed">
  <a class="fb-feed__to-top" href="#site-footer-inner"></a>
  <div class="fb-feed__container">

    <template id="fb-template">
      <div class="fb-feed__content">

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
          src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v12.0" nonce="gkgcJecC"></script>

        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="500"
          data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/facebook">Meta</a></blockquote>
        </div>

      </div>
    </template>

    <script>
      const fbSection = document.querySelector('.fb-feed');
      const fbHightSection = fbSection.clientHeight;
      const fbPluginContainer = fbSection.querySelector('.fb-feed__container');
      const fbContainerWidth = fbPluginContainer.offsetWidth;
      const fbTemplate = fbPluginContainer.querySelector('#fb-template')
        .content
        .querySelector('.fb-feed__content').cloneNode(true);


      const fbHtml = fbTemplate.querySelector('.fb-page')
      fbHtml.setAttribute('data-height', fbHightSection + 50);


      if (window.innerWidth >= 500 && window.innerWidth <= 899) {
        const toTop = 500 / 57;

        fbPluginContainer.innerHTML = '';
        fbPluginContainer.appendChild(fbTemplate);
        fbPluginContainer.style.top = `-${(toTop * 500 / 100)}px`;
        fbPluginContainer.style.marginBottom = `-${(toTop * 500 / 100)}px`;

        const fbPlugin = fbPluginContainer.querySelector('.fb-feed__content');
        fbPlugin.style.height = fbHightSection;
        fbPlugin.style.minHeight = fbHightSection;
        fbPlugin.style.maxHeight = fbHightSection;
        fbPlugin.style.width = '500px';
        fbPlugin.style.transform = `scale(${fbContainerWidth / 500})`;
      } else {
        fbPluginContainer.innerHTML = '';
        fbPluginContainer.appendChild(fbTemplate);
      }
    </script>

  </div>
</div>
