<div style="    position: relative;
    overflow: hidden;
    width: 100%;
    display: block !important;
}">
  <style>
    .fb_reset>div {
      overflow: visible !important;
    }

    .fb_dialog_content iframe:first-child {
      position: relative !important;
      transform: scale(1500);
      background: green;
      display: block;
    }

    .fb_dialog_content iframe {
      display: none;
    }

    .fb-root>div {
      position: relative !important;
      top: 0 !important;
      overflow: visible !important;
    }
  </style>
  <div class="">
    <!-- Messenger Плагин чата Code -->
    <div id="fb-root"></div>
    <!-- Your Плагин чата code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "100258068756908");
    chatbox.setAttribute("attribution", "biz_inbox");
  </script>

  <!-- Your SDK code -->
  <script>
    const makefbmessanger = () => {
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: 'v13.0'
        });
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    }
    setTimeout(makefbmessanger, 0);
  </script>
</div>
