<section class="map" id="section-map">
  <div class="map__container  container">
    <div class="map__radius">
      @@include('./main-title.html')

      <div class="map__popup-block">
        <button class="map__scroll-btn  map__scroll-btn--next"></button>
        <button class="map__scroll-btn  map__scroll-btn--back"></button>

        <div class="map__popup-block-content">
          @@include('./map-content.html')
        </div>
      </div>

      <div class="map__wrapper">
        <div class="map__content  animation" id="map"></div>
      </div>

    </div>
  </div>
</section>
