<section class="partners">
  <div class="partners__container  container">
    <h2 class="visually-hidden">Наши партнёры</h2>
    <ul class="partners__list  no-style">
      <li class="partners__item">
        <a href="blank.html">
          <img class="partners__img-filters" src="img/logo-partner-1.webp" width="260" height="70"
            alt="Логоти компании DJI">
        </a>
      </li>
      <li class="partners__item">
        <a href="blank.html">
          <img class="partners__img-filters" src="img/logo-partner-2.webp" width="260" height="70"
            alt="Логоти компании SP Adgents">
        </a>
      </li>
      <li class="partners__item">
        <a href="blank.html">
          <img class="partners__img-filters" src="img/logo-partner-3.webp" width="260" height="70"
            alt="Логоти компании GoPro">
        </a>
      </li>
      <li class="partners__item">
        <a href="blank.html">
          <img class="partners__img-filters" src="img/logo-partner-4.webp" width="260" height="70"
            alt="Логоти компании Vive">
        </a>
      </li>
    </ul>

  </div>
</section>
