<section class="cards">
  <div class="cards__container  container">
    <ul class="cards__list no-style">

      <li class="cards__item">
        <img src="../img/image1.webp" alt="">
        <div class="cards__item-content">
          <h3>your title</h3>
          <p>goes here</p>
        </div>
      </li>

      <!-- cards__item -->
      <li class="cards__item">
        <img src="../img/image1.webp" alt="">
        <div class="cards__item-content">
          <h3>your title</h3>
          <p>goes here</p>
        </div>
      </li>

      <!-- cards__item -->
      <li class="cards__item">
        <img src="../img/image1.webp" alt="">
        <div class="cards__item-content">
          <h3>your title</h3>
          <p>goes here</p>
        </div>
      </li>
      <!-- cards__item -->

      <li class="adds-item">
        <h3 class="adds-item__title">advertise something here</h3>
        <div class="adds-item__content">
          <img src="../img/image1.webp" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum delectus reprehenderit quaerat et
            possimus officia sequi, modi voluptatem. Aspernatur in modi, eveniet laudantium blanditiis cumque labore
            voluptatibus maiores sapiente?</p>
        </div>
      </li>
      <!-- adds-item -->

      <li class="adds-item">
        <h3 class="adds-item__title">advertise something here</h3>
        <div class="adds-item__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum delectus reprehenderit quaerat et
            possimus officia sequi, modi voluptatem. Aspernatur in modi, eveniet laudantium blanditiis cumque labore
            voluptatibus maiores sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laboriosam
            quidem veritatis cumque. Tempore, eius aut explicabo amet assumenda repellendus quaerat quisquam maxime
            voluptas velit sapiente. Distinctio soluta qui blanditiis! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptas sunt dolorum deleniti qui, ab consectetur odit, itaque labore necessitatibus
            corrupti architecto! Veniam suscipit repellendus laborum ad porro officia illo doloremque! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Commodi velit voluptatibus et non, molestias placeat perspiciatis
            tempore cum! Necessitatibus amet quam animi totam, dolor fugit ratione porro consectetur cumque obcaecati.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nostrum doloremque molestiae cum.
            Perspiciatis nesciunt debitis corrupti voluptates in quos, perferendis quo alias quisquam vel officiis
            laudantium, ab eveniet! Corrupti!</p>
        </div>
      </li>
      <!-- adds-item -->

      <li class="adds-item">
        <h3 class="adds-item__title">advertise something here</h3>
        <div class="adds-item__content">
          <ul class="adds__offers">

            <li class="adds__offer no-style">
              <img src="../img/image1.webp" alt="">
              <p class="adds__offer-date">12.03.20</p>
              <p class="adds__offer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum
                delectus reprehenderit quaerat. Harum dolorum
                delectus reprehenderit quaerat</p>
            </li>
            <!-- adds__offer -->

            <li class="adds__offer no-style">
              <img src="../img/image1.webp" alt="">
              <p class="adds__offer-date">12.03.20</p>
              <p class="adds__offer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum
                delectus reprehenderit quaerat. Harum dolorum
                delectus reprehenderit quaerat</p>
            </li>
            <!-- adds__offer -->

            <li class="adds__offer no-style">
              <img src="../img/image1.webp" alt="">
              <p class="adds__offer-date">12.03.20</p>
              <p class="adds__offer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum
                delectus reprehenderit quaerat. Harum dolorum
                delectus reprehenderit quaerat</p>
            </li>
            <!-- adds__offer -->

          </ul>
        </div>
      </li>
      <!-- adds-item -->

    </ul>
  </div>
</section>
