<header class="header  page__header">

  <div class="header__top  top">
    <p class="container  top__container">
      <span class="top__visit">visit the shop</span>
      <span class="top__account">Your account</span>
    </p>
  </div>

  <div class="main-nav">
    <div class="main-nav__container  container">

      <div class="logo"></div>


      <div class="main-nav__bar">
        <p class="main-nav__bar-content">
          <span class="main-nav__bar-text">
            You have not registrete to our club
            yet?
            <span>login</span>
            <span>OR</span>
            <span>Registret</span>
          </span>
        </p>
        <ul class="social  navbar-nav">
          <li class="social__item">
            <a class="social__item-link" href="#section-works">
              <img width="30" height="30" src="../img/icons/facebook.webp" alt="">
            </a>
          </li>
          <li class="social__item">
            <a class="social__item-link" href="#section-map">
              <img width="30" height="30" src="../img/icons/twitter.webp" alt="">
            </a>
          </li>
          <li class="social__item">
            <a class="social__item-link" href="#section-map">
              <img width="30" height="30" src="../img/icons/twitter.webp" alt="">
            </a>
          </li>
        </ul>
        <!-- social -->

      </div>
      <!-- main-nav__bar -->
    </div>
  </div>

  <div class="nav-bar  container">
    <ul class="nav-bar__list">
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">these are</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">random words</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">we use</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">to show</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">how links</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__item-link" href="#">will appear</a>
      </li>
    </ul>
  </div>
</header>
